@media (max-width: 700px) {
        .form {
        width: 70%;
    }

    table {
        font-size: .8rem;
    }
}

@media (max-width: 550px) {
    .form {
        width: 100%;
    }

    table {
        font-size: .5rem;
        padding: 1rem;
    }
}

@media (max-width: 380px) {
    body {
        overflow-x: hidden;
    }
    table {
        font-size: .4rem;
        padding: 1rem;
    }
}
